<app-nav></app-nav>

<div class="row mt-4">
    <div class="col-sm"></div>
    <div class="col-sm">        
        <form [formGroup]="form" (ngSubmit)="submit()">      
            <div class="form-group">
                <label for="file">File</label>
                <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" data-toggle="modal" #id data-target="#modalStatus" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm"></div>
</div>
<div class="modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="modalStatusLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center" *ngIf="modal">
                    <img src="../../../assets/loading.gif" alt="">
                    <p>Please wait, your file is uploading.</p>
                    <p>Be patient, if your machine doesn't have much memory, the java will explode (rsrs).</p>
                </div>
                <div class="modal-body text-center" *ngIf="!modal">
                    <div *ngIf="status">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                        <button class="btn btn-primary" data-dismiss="modal" #id data-target="#modalStatus" (click)="redirect()" type="submit">OK</button>
                    </div>
                    <div *ngIf="statusError">
                        <div class="alert alert-danger" role="alert">
                            {{ messageError }}
                        </div>
                        <button class="btn btn-primary"  data-dismiss="modal" aria-label="Close" (click)="closeModal()">OK</button>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
