<div class="text-center title"><h1>JM Logs</h1></div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="" (click)="redirect('')">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="" (click)="redirect('logs')">Logs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="" (click)="redirect('logs/new-log')">New log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="" (click)="redirect('logs/upload')">Upload</a>
  </li>
</ul>