<app-nav></app-nav>

<div class="content">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Manage Logs</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Application for manage logs, with JM Logs do you more and better.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header">Find</div>
          <div class="card-body">
            <h5 class="card-title">Search logs by IP or Reques</h5>
            <p class="card-text">To facilitate find some Logs, with JM-Log it is possible using filter by IP or Request.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Upload</div>
          <div class="card-body">
            <h5 class="card-title">Create many logs</h5>
            <p class="card-text">We can create many logs quickly, only doing a simple upload file.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="text-center">
        <p>Developed by Jean Mascarenhas</p>
      </div>
      <ul class="ml-4">
        <li><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="blank"> Linkedin</a></li>
        <li><a href="https://github.com/jeanmascarenhas" target="blank">GitHub</a></li>
      </ul>
    </div>
    <div class="col-4"></div>
  </div>
</div>

